@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  color: #fff; /* Set text color to white for all elements */
}

body {
  background-color: #111; /* Set background color for the body */
}

/* Hide scrollbar for specific elements */
#tasklist::-webkit-scrollbar,
body::-webkit-scrollbar,
#alltask::-webkit-scrollbar,
#xx::-webkit-scrollbar {
  display: none;
}

.loginnnn {
  background: url(https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
