@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  color: #fff; /* Set text color to white for all elements */
}

body {
  background-color: #111; /* Set background color for the body */
}

/* Hide scrollbar for specific elements */
#tasklist::-webkit-scrollbar,
body::-webkit-scrollbar,
#alltask::-webkit-scrollbar,
#xx::-webkit-scrollbar {
  display: none;
}
